@media (min-width: 768px) {
    .bg {
        background-image: url('https://i.pinimg.com/originals/7e/bf/e8/7ebfe84449b26698697f39d6b833e281.jpg');
        background-repeat: no-repeat;
        background-position: bottom right;
        position: absolute;
        opacity: .75;
        bottom: 0;
        right: 0;
        height: 500px;
        width: 600px;
        z-index: 1;
        filter: blur(2px);
    }
}

a {
    color: #000;
}

a:hover {
    color: #333;
}

html, body {
    background-color: #fff !important;
    color: #000 !important;
    height: unset;
    box-shadow: unset;
}

.p-3 {
    padding: 1rem 0 !important;
}

.cover-container, .mastfoot {
    z-index: 2;
}

.avatar {
    max-height: 158px;
}

.masthead {
    z-index: 3;
}

.mastfoot {

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #555;
}

input:focus + .slider {
    box-shadow: 0 0 1px #555;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*.inverted-colors {*/
/*    filter: invert(100%);*/
/*}*/

/*.inverted-colors .rounded-circle,*/
/*.inverted-colors img,*/
/*.inverted-colors .original {*/
/*    filter: invert(100%);*/
/*}*/

.navbar-dark {
    background-color: #000 !important;
}

.bg-dark {
    background-color: #000 !important;
}

body {
    text-shadow: 0 0.02rem 0.02rem rgba(0, 0, 0, .25);
}
    
