
.cover-container {
    z-index: 2;
    max-width: 68em !important;
}

.masthead {
    z-index: 3;
}

.card {
    color: #212529;
}

.jumbotron {
    background-color: initial;
}

.mapouter {
    filter: invert(100%);
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}
